version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci"

  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore"
    allow:
      - dependency-type: production
    ignore:
      - dependency-name: "Microsoft.AspNetCore.*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "System.Net.Http.*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
